/*KEYFRAMES*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*GENERAL RULES*/
body {
    max-width: 99%;
    text-align: center;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.flex-container {
    display: flex;
}

a:link { /*Removes the underline and blue*/
    text-decoration: none;
    color: white;
}

a:visited { /*Makes it so the text decoration is removed on visited*/
    text-decoration: none;
    color: rgb(255, 255, 255) ;
}

a:hover {
    text-decoration: none;
    color: #004aad;
}

/*NAV BAR/HEADER*/
header {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 99.9%;
    border: 1px solid black;
    background-image: linear-gradient(to top, rgba(0, 0, 255, 0.808), rgb(149, 213, 255));
    background-color: rgba(253, 253, 253, 0.144);
    backdrop-filter: blur(3px);
    z-index: 99;
    text-transform: uppercase;
}

header ul {
    list-style: none;
}

header ul li {
    margin-left: 10%;
    padding-top: 10px;
    flex-grow: 1;
    font-size: 1.5vw; /*Used for responsive text - will resize accordingly on different screens*/
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

#icon{
    height: 100%;
}

#navBar {
    justify-content: center;
    align-items: center;
}

/*SPLASH WELCOME*/
#splashWelcome {
    margin-top: 8rem;
    border: 1px solid black;
    flex-grow: 2;
}

#overview {
    /*align-self: center;*/
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 3%;
    font-size: 1.2rem;
    flex-grow: 1;
    animation: slideInRight 1.5s ease 0s 1 normal forwards;
}

#logo {
    margin-left: 3%;
}

.fade-inImage {
    animation: fadeIn 3s;
}

/*TO TOP BUTTON*/
#topBtn {
    display: none; /* Hidden initally */
    position: fixed; /*Keeps the button on the page*/
    bottom: 20px; /*Position is kept at the bottom of the page*/
    right: 30px; /*Keeps the button on the right hand side of the screen*/
    z-index: 99; /*Ensures that it is kept in front of other elements*/
    
    /*Design Bits*/
    width: 50px;
    padding: 15px;
    border-radius: 10%;  
    cursor: pointer; /*On hover, the appearance of the cursor changes*/
    background-color: rgb(249, 240, 240);
}

/*FIND OUT BUTTON AND FUNKY SCROLL EFFECTS*/
#findMore {
    align-self: bottom;
    padding: 2vw;
    font-size: 1.2rem;
    border: none;
    background-color: white;
    color: black;
}

#findMore a:link {
    color: black;
}

#findMore a:visited {
    color: black;
}

#findMore a:hover {
    color: #004aad;
}

.parallax {
  background-image: url("media/cable.webp");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  left:0;
  padding-bottom: 2%;
}

/*ABOUT*/
#aboutSubhead {
    color: white;
    font-size: 60px;
}

#aboutP {
    color: white;
    font-size: 25px;
    background-color: rgba(240, 248, 255, 0.144);
    backdrop-filter: blur(2px);
}

/*GALLERY - Slideshow adapted from https://www.w3schools.com/howto/howto_js_slideshow.asp*/
.gallery {
    box-sizing: border-box;
}

#gallerySubhead {
    font-size: 60px;
}

.slideshowContainer {
    max-width: 30%;
    max-height: 30%;
}

#photo1 {
    background-image: url(media/crocodile.webp);
}

#photo2 {
    background-image: url(media/bathroomLight.webp);
}

#photo2 .next{
    color: black;
}

.next a:hover {
    text-decoration: none;
    color: #004aad;
}

#photo3 {
    background-image: url(media/socket.webp);
}

#photo4 {
    background-image: url(media/van.webp);
}

#photo5 {
    background-image: url(media/server.webp);
}

#photo6 {
    background-image: url(media/family.webp);
}

.generalPhotoRules {
    padding: 2%;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slides {
    display: none;
}

.slides img {
    height: 400px;
    z-index: 2;
    border: black solid 5px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
}

.photoNumber {
    color: white;
    font-size: 50px;
    padding: 0px;
    text-align: left;

    background-color: rgba(240, 248, 255, 0.144);
    backdrop-filter: blur(2px);

    width: 9%;
}

.prev, .next {
    cursor: pointer;
    /*width: auto;
    margin-top: -22px;
    user-select: none;
    */
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease;
    z-index: 2;
  }

  .prev {
    padding-right: 80%;
  }

  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*LEAVE A REVIEW FORM*/
#reviewOpening {
    margin: 10%;
}

.container {
    border-radius: 5px;
    margin: 10%;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    text-align: left;
}

input[type=text], select, textarea { 
    width: 80%;
    margin: 2%;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px; /* Rounded borders */
}

input[type=submit], select, textarea {
    padding: 1rem;
    font-size: 25px;
    color:#004aad
}

textarea {
    resize: none;
}

.star1:hover + .colourStar1{
    visibility: hidden;
}

.container label {
    text-align: left;
}

/*MEDIA QUERIES*/
@media (prefers-reduced-motion){
    .fade-inImage {
        animation: none;
    }
}

@media (prefers-color-scheme: dark){
    /*header {
        background-color: rgb(39, 39, 39);
        color: white;
    }

    #splashWelcome {
        background-color:rgb(39, 39, 39);
    }*/

}

@media screen and (max-width: 600px) {
    body {
        background-color: pink;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}